* {
    box-sizing: border-box;
}

body {
	background-color: #40345e;
}

navbar {
	background-color: rgba(0, 0, 0, 0.5);
}

h1, h2, h3, p {
	font-family: 'Shrikhand', cursive;
	color: white;
}

h1 small {
	font-family: 'Shrikhand', cursive;
	color: #317263;
	float: right;
	margin-right: 20px;
}

.input-group {
	font-family: 'Bitter', cursive;
	color: #40345e;
	margin: 20px;
	text-align: center;
	
	
}

/*.form-control {*/
/*	width: 15em !important;   */
/*}*/

img {
	width: 7em;
	height: 7em;
	border-radius: 50%;
	/*float: right;*/
	text-align: center;
	margin: 0 auto;
}


.glyphicons.glyphicons-menu-hamburger {
	color: white;
}


.header-container span {
	text-align: center;
	/*position: absolute;*/
	margin: 0 auto;
}


/*Styles for float label control plugin*/

/*.float-label-control { position: relative; margin-bottom: 1.5em; }*/
/*    .float-label-control ::-webkit-input-placeholder { color: transparent; }*/
/*    .float-label-control :-moz-placeholder { color: transparent; }*/
/*    .float-label-control ::-moz-placeholder { color: transparent; }*/
/*    .float-label-control :-ms-input-placeholder { color: transparent; }*/
/*    .float-label-control input:-webkit-autofill,*/
/*    .float-label-control textarea:-webkit-autofill { background-color: transparent !important; -webkit-box-shadow: 0 0 0 1000px white inset !important; -moz-box-shadow: 0 0 0 1000px white inset !important; box-shadow: 0 0 0 1000px white inset !important; }*/
/*    .float-label-control input, .float-label-control textarea, .float-label-control label { font-size: 1.3em; box-shadow: none; -webkit-box-shadow: none; }*/
/*        .float-label-control input:focus,*/
/*        .float-label-control textarea:focus { box-shadow: none; -webkit-box-shadow: none; border-bottom-width: 2px; padding-bottom: 0; }*/
/*        .float-label-control textarea:focus { padding-bottom: 4px; }*/
/*    .float-label-control input, .float-label-control textarea { display: block; width: 100%; padding: 0.1em 0em 1px 0em; border: none; border-radius: 0px; border-bottom: 1px solid #aaa; outline: none; margin: 0px; background: none; }*/
/*    .float-label-control textarea { padding: 0.1em 0em 5px 0em; }*/
    .float-label-control label { position: absolute; font-weight: normal; top: -1.0em; left: 0.08em; color: #aaaaaa; z-index: -1; font-size: 0.85em; -moz-animation: float-labels 300ms none ease-out; -webkit-animation: float-labels 300ms none ease-out; -o-animation: float-labels 300ms none ease-out; -ms-animation: float-labels 300ms none ease-out; -khtml-animation: float-labels 300ms none ease-out; animation: float-labels 300ms none ease-out; /* There is a bug sometimes pausing the animation. This avoids that.*/ animation-play-state: running !important; -webkit-animation-play-state: running !important; }
/*    .float-label-control input.empty + label,*/
/*    .float-label-control textarea.empty + label { top: 0.1em; font-size: 1.5em; animation: none; -webkit-animation: none; }*/
/*    .float-label-control input:not(.empty) + label,*/
/*    .float-label-control textarea:not(.empty) + label { z-index: 1; }*/
/*    .float-label-control input:not(.empty):focus + label,*/
/*    .float-label-control textarea:not(.empty):focus + label { color: #aaaaaa; }*/
/*    .float-label-control.label-bottom label { -moz-animation: float-labels-bottom 300ms none ease-out; -webkit-animation: float-labels-bottom 300ms none ease-out; -o-animation: float-labels-bottom 300ms none ease-out; -ms-animation: float-labels-bottom 300ms none ease-out; -khtml-animation: float-labels-bottom 300ms none ease-out; animation: float-labels-bottom 300ms none ease-out; }*/
/*    .float-label-control.label-bottom input:not(.empty) + label,*/
/*    .float-label-control.label-bottom textarea:not(.empty) + label { top: 3em; }*/


/*@keyframes float-labels {*/
/*    0% { opacity: 1; color: #aaa; top: 0.1em; font-size: 1.5em; }*/
/*    20% { font-size: 1.5em; opacity: 0; }*/
/*    30% { top: 0.1em; }*/
/*    50% { opacity: 0; font-size: 0.85em; }*/
/*    100% { top: -1em; opacity: 1; }*/
/*}*/

/*@-webkit-keyframes float-labels {*/
/*    0% { opacity: 1; color: #aaa; top: 0.1em; font-size: 1.5em; }*/
/*    20% { font-size: 1.5em; opacity: 0; }*/
/*    30% { top: 0.1em; }*/
/*    50% { opacity: 0; font-size: 0.85em; }*/
/*    100% { top: -1em; opacity: 1; }*/
/*}*/

/*@keyframes float-labels-bottom {*/
/*    0% { opacity: 1; color: #aaa; top: 0.1em; font-size: 1.5em; }*/
/*    20% { font-size: 1.5em; opacity: 0; }*/
/*    30% { top: 0.1em; }*/
/*    50% { opacity: 0; font-size: 0.85em; }*/
/*    100% { top: 3em; opacity: 1; }*/
/*}*/

/*@-webkit-keyframes float-labels-bottom {*/
/*    0% { opacity: 1; color: #aaa; top: 0.1em; font-size: 1.5em; }*/
/*    20% { font-size: 1.5em; opacity: 0; }*/
/*    30% { top: 0.1em; }*/
/*    50% { opacity: 0; font-size: 0.85em; }*/
/*    100% { top: 3em; opacity: 1; }*/
/*}*/




/* Button Styles */

.submit {
	box-shadow:inset 0px 1px 3px 0px #91b8b3;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #768d87), color-stop(1, #6c7c7c));
	background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#768d87', endColorstr='#6c7c7c',GradientType=0);
	background-color:#768d87;
	border-radius:5px;
	border:1px solid #566963;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:2px 20px;
	text-decoration:none;
	text-shadow:0px -1px 0px #2b665e;
}
.submit:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #6c7c7c), color-stop(1, #768d87));
	background:linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#6c7c7c', endColorstr='#768d87',GradientType=0);
	background-color:#6c7c7c;
}
.submit:active {
	position:relative;
	top:1px;
}


.groupName {
    
    text-align: center;
    width: 10em;
    height: 25em;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#displayScore {
	text-align: center;
    /*width: 10em;*/
    /*height: 10em;*/
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}




#displayDesc, #displayDate, #displayName, #ratingDesc {
    
    text-align: center;
    width: 10em;
    height: 10em;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}


#displayScore {
	font-size: 5em;
	font-weight: bold;
}