* {
	box-sizing: border-box;
}

body, html {
	height: 100%;
}

body {
	
	background: #360033; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #360033 , #0b8793); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #360033 , #0b8793); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
          
}

/*Navbar Styles*/


.navbar {
	background-color: rgba(0, 0, 0, 0.25);
	border-bottom: 1px solid whitesmoke;
	text-align: center;
}

.navbar-right {
	margin-right: 0.1em;
}


.page-header {
	border: none;

}

.navbar-header {
	float: none;

}

.navbar-brand > h3 {
	font-size: 36px;
}

.navbar-brand {
	float: none;
}


/*Footer Styles*/


.footer {
	position: absolute;	
	width: 100%;
	height: 50px;
	background: #000000; 
    background: -webkit-linear-gradient(to top, #000000 , #434343); 
    background: linear-gradient(to top, #000000 , #434343);
    text-align: center;

}

.footer p {
	color: white;
}

 #footer-row {
 	padding-top: 0.5em;
 }   




#about p {
	color: #c5c2ce;
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	font-size: 1.3em;
}

#howWork p {
	font-family: 'Lato', sans-serif;
	color: #c5c2ce;
	font-weight: bold;
	font-size: 1.3em;

}



h1,
h2,
h3 {
	font-family: "Shrikhand", cursive;
	color: white;
}


.input-group {
	font-family: 'Lato', sans-serif;
	color: #40345e;
	margin: 20px;
	text-align: center;
}

.input-group .form-control {
	height: 46px;
}

img {
	width: 7em;
	height: 7em;
	border-radius: 50%;	
	text-align: center;
	margin: 0 auto;
}

#rating-display > h2 {
	font-size: 24px;
}

.header-container {
	text-align: center;	
}

.header-container h1 {
	text-align: center;
	color: white;
}

.header-container span {
	text-align: center;	
	margin: 0 auto;
}

.search-container {
	display: block;
	margin: 0 auto;
	width: 40%;
}

.container-fluid {
	padding-bottom: 5em;
}

#load-btns {
	width: 100%;
	display: flex;
	margin: 0 auto;
	justify-content: center;
}


/* Button Styles */

.btn {
	height: 46px;
}

#load-more-btn, #load-previous-btn {
	box-shadow: inset 0px 1px 3px 0px #91b8b3;	
	background: linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
	background-color: #768d87;
	border-radius: 5px;
	border: 1px solid #566963;
	display: none;
	cursor: pointer;
	color: #ffffff;
	font-family: "Shrikhand", cursive;
	font-size: 15px;
	width: 13em;
	height: 2.5em;	
	text-shadow: 0px -1px 0px #2b665e;
}

#load-more-btn:hover, #load-previous-btn:hover {
	background: linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);	
	background-color: #6c7c7c;
}

#load-more-btn:active, #load-previous-btn:active {
	position: relative;
	top: 1px;
}


#groupName {	
	width: 25%;
	height: 25em;
	margin: 0 auto;
}

#violation-description {
	background: #360033; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #360033 , #0b8793); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #360033 , #0b8793); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
          

}

#date-of-inspection  {
	padding-top: 8em;
        
}

#rating-display {
	text-align: center;
	width: 100%;
	height: 25em;
	margin: 0 auto;
	background: #360033; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #360033 , #0b8793); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #360033 , #0b8793); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
          
}

#displayScore {
	font-size: 10em;
	font-weight: bold;
	text-align: center;
	color: whitesmoke;
	font-family: "Shrikhand", cursive;
	margin: auto;
	background: #360033; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #360033 , #0b8793); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #360033 , #0b8793); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
          
}

#displayDesc,
#displayDesc2,
#displayDesc3,
#displayDate,
#displayDate2,
#displayDate3,
#displayName,
#displayName2,
#displayName3 {
	text-align: center;
	width: 100%;
	height: 10em;
	margin: auto;
	margin-top: 1em;
	color: whitesmoke;
	font-family: 'Lato', sans-serif;
}

#displayDesc,
#displayDesc2,
#displayDesc3 {
	font-size: 16px;
	
}

#displayDate-wrapper, #displayName-wrapper {
	font-size: 24px;
}


/*Font Awesome Styles*/

.fa-linkedin-square { 
	color: white;
	padding-right: 0.5em;
}

.fa-github {
	color: white;
	padding-left: 0.5em;
}



/*Media Queries*/


@media (max-width: 579px){
	#displayDate,
	#displayName {
		margin-top: 2em;
	}
}

@media (max-width: 768px) {
	#displayDesc2,
	#displayDate2,
	#displayName2,
	#displayDesc3,
	#displayDate3,
	#displayName3
				 {
		display: none;
	}

	#display-date-wrapper {
		margin-top: 3em;
	}

	.groupName {
		text-align: center;
		height: 5em;
		margin-right: 17em;
	}


}


@media (max-width: 880px){
	#displayDesc3,
	#displayDate3,
	#displayName3 {
		display: none;
	}
}


/*Media Queries*/

@media screen and (min-width: 300px) {
	.search-container {
		width: 100%;
	}
}

@media screen and (min-width: 700px) {
	.search-container {
		width: 65%;
	}
}

@media screen and (min-width: 900px) {
	.search-container {
	width: 60%;
	}
}


@media screen and (min-width: 1000px) {
	.search-container {
		width: 55%;
	}
}

@media screen and (min-width: 1125px) {
	.search-container {
		width: 50%;
	}
}

@media screen and (min-width: 1300px) {
	.search-container {
		width: 45%;
	}
}




