* {
	box-sizing: border-box;
}

body {
	background-color: #33294b;  
}

footer {
	height: 7em;
	background-color: #28203c;
}

.footer-copyright {
	height: 100%;
	text-align: center;
	padding-top: 5em;
}

.footer-copyright span {
	color: whitesmoke;
	font-family: "Bitter", cursive;

}

.fa-copyright {	
	border-radius: 5px;	
}

.navbar {
	background-color: rgba(0, 0, 0, 0.25);
	border-bottom: 1px solid whitesmoke;
}

.navbar-right {
	margin-right: 0.1em;
}

.container-fluid {
	background-color: #40345e;
}

#about p {
	color: #c5c2ce;
	font-family: "Bitter", cursive;	
	font-weight: bold;
	font-size: 1.3em;
}

#howWork p {
	font-family: "Bitter", cursive;
	color: #c5c2ce;
	font-weight: bold;
	font-size: 1.3em;

}


h1,
h2,
h3 {
	font-family: "Shrikhand", cursive;
	color: white;
}


.input-group {
	font-family: "Bitter", cursive;
	color: #40345e;
	margin: 20px;
	text-align: center;
}

img {
	width: 7em;
	height: 7em;
	border-radius: 50%;	
	text-align: center;
	margin: 0 auto;
}

.header-container {
	text-align: center;	
}

.header-container h1 {
	text-align: center;
	color: #317263;
	
}

.header-container span {
	text-align: center;	
	margin: 0 auto;
}


/* Button Styles */

.submit {
	box-shadow: inset 0px 1px 3px 0px #91b8b3;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #768d87), color-stop(1, #6c7c7c));
	background: linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#768d87", endColorstr="#6c7c7c", GradientType=0);
	background-color: #768d87;
	border-radius: 5px;
	border: 1px solid #566963;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: Arial;
	font-size: 15px;
	font-weight: bold;
	padding: 2px 20px;
	text-decoration: none;
	text-shadow: 0px -1px 0px #2b665e;
}

.submit:hover {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #6c7c7c), color-stop(1, #768d87));
	background: linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#6c7c7c", endColorstr="#768d87", GradientType=0);
	background-color: #6c7c7c;
}

.submit:active {
	position: relative;
	top: 1px;
}

.small-screen-btn {
	display: none;
}

.small-screen {
	width: 100%;
	height: 100%;
	z-index: 1000;
	color: black;
}

#groupName {
	text-align: center;
	width: 10em;
	height: 25em;
	margin: auto;
}

#violation-description {
	background-color: #33294b;
}

#name-of-restaurant {
	background-color: #33294b;
}

#rating-display {
	text-align: center;
	width: 10em;
	height: 25em;
	margin: auto;
}

#displayScore {
	font-size: 10em;
	font-weight: bold;
	text-align: center;
	color: cornflowerblue;
	font-family: "Shrikhand", cursive;
	margin: auto;
}

#displayDesc,
#displayDesc2,
#displayDesc3,
#displayDate,
#displayDate2,
#displayDate3,
#displayName,
#displayName2,
#displayName3 {
	text-align: center;
	width: 10em;
	height: 10em;
	margin: auto;
	color: cornflowerblue;
	font-family: "Shrikhand", cursive;
}

#displayDesc,
#displayDesc2,
#displayDesc3 {
	font-size: 16px;
	width: 14em;
}

#displayDate-wrapper, #displayName-wrapper {
	font-size: 24px;
}

#description-columns {
	margin-left: 5em;
}

#date-columns {
	margin-left: 2em;
}

#name-columns {
	margin-left: 2em;
}

@media (max-width: 768px) {
	#displayDesc,
	#displayDate,
	#displayName {
		display: none;
	}
	.small-screen-btn {
		display: inline-block;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
	}
}




